<div style="padding: 1rem;">
<h2 mat-dialog-title >Select a Technician</h2>
<mat-select [(ngModel)]="selectedTechnician">
  <mat-option *ngFor="let technician of technicians" [value]="technician">
    {{ technician.username}}
  </mat-option>
</mat-select>

<div mat-dialog-actions style="display: flex; justify-content: space-between;" class="dialog-actions">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="assignTechnician()">Assign</button>
</div>
</div>
