.search-and-filter {
  display: flex;
  flex-direction: column; /* Align items vertically for a more natural form flow */
  background-color: #d1ffe1;
  width: 100%;
  height: 100%;
  max-width: 600px; /* Ensure it doesn't get too wide on larger screens */
  margin: 20px auto; /* Center horizontally and add some margin */
   /* Add padding inside the container */
  align-items: center; /* Center items inside the container */
  border-radius: 20px; /* Smooth rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
}

.search-and-filter mat-form-field {
  padding: 1rem;
  width: 100%; /* Ensure form fields take full width */
  margin-bottom: 1rem; /* Add space between fields */
}

.btn-search {
  margin: 20px;
  width: 9rem;
  height: 3.5rem;
  border-radius: 5px;
  background-color: #4CAF50; /* Add a green color to match the theme */
  color: #fff; /* White text for contrast */
  font-weight: bold; /* Make the text bold for emphasis */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.btn-search:hover {
  background-color: #45a049; /* Slightly darker green on hover */
}

@media (max-width: 768px) {
  .search-and-filter {
    width: 90%; /* Increase width on smaller screens */
    padding: 15px;
  }

  .btn-search {
    width: 100%; /* Make the button full-width on smaller screens */
  }
}
