<div class="search-and-filter">
  <form [formGroup]="panneForm" (ngSubmit)="newTicket()">

    <mat-form-field appearance="outline" hintLabel="Max 10 characters"  >
      <mat-label>Description  </mat-label>
      <input matInput id="-description" placeholder="Placeholder" (input)="onInput($event)">
      <mat-hint >{{value().length}}/100</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Type de Panne </mat-label>
      <mat-select formControlName="typePanne">
        <mat-option *ngFor="let item of keys" [value]="item.panneId">{{item.panneTitle}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button class="btn-search" type="submit">Signaler</button>

  </form>
</div>
