
<header class="nav-bar">
  <div class="user-info">
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/1dfd3607ed4d61e63db10aa3d176c59e3aa32d23cfd0506421fd1fcf86201aa0?placeholderIfAbsent=true&apiKey=b26b76cab5d0429798dcacbab026faef"
      alt="User avatar"
      class="user-avatar"
    />
    <div class="user-details">
      <p class="welcome-text">welcome</p>
      <h2 class="user-name">Admin</h2>
    </div>
  </div>
  <nav class="nav-actions">
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/2ae11d1ffcdfa7147208dd36cc5a912869d1fe46c75270cd913f81a82cf1b3d6?placeholderIfAbsent=true&apiKey=b26b76cab5d0429798dcacbab026faef"
      alt=""
      class="nav-icon"
    />
    <mat-icon matBadge="15">home</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
    <button class="logout-button">
      <span>Logout</span>
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/57447e51ce5c8e6269f1850976deae6472463ed80a8037a5b2a3092df45cd264?placeholderIfAbsent=true&apiKey=b26b76cab5d0429798dcacbab026faef"
        alt=""
        class="logout-icon"
      />
    </button>
  </nav>
</header>
