
<aside class="sidebar">
  <header class="sidebar-header">
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/c6eead26a349366ccf7bc7da58e78d66094b29f9bf9715313e48caf5533980ff?placeholderIfAbsent=true&apiKey=b26b76cab5d0429798dcacbab026faef"
      alt="Company logo"
      class="company-logo"
    />
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/c093e3f286313e0dfa99b3970bc1e8c9dc648d7121cc526a5327ba649e010e4e?placeholderIfAbsent=true&apiKey=b26b76cab5d0429798dcacbab026faef"
      alt=""
      class="divider"
    />
  </header>
  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li class="nav-item active">
        <a href="#" class="nav-link">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/9598df759659b108377a63b95176f47749dc5e6bdb68f64482e8d8b838b7a903?placeholderIfAbsent=true&apiKey=b26b76cab5d0429798dcacbab026faef"
            alt=""
            class="nav-icon"
          />
          <span class="nav-text">Dashboard</span>
        </a>
      </li>
      <li *ngIf="userRole() === 'ADMIN' || userRole() === 'USER'" class="nav-item">
        <a routerLink="" class="nav-link">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/9c383df9735b92a21d715a1e7200e5e5ae41d4c01fb9862fd66a0e3a93dd02d8?placeholderIfAbsent=true&apiKey=b26b76cab5d0429798dcacbab026faef"
            alt=""
            class="nav-icon"
          />
          <span class="nav-text">Materiel</span>
        </a>
      </li>
      <li *ngIf="userRole()==='ADMIN'" class="nav-item">
        <a routerLink="admin-dashboard" class="nav-link">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/c760239209adc0b23ea61e4f83a59e633e454a01ae5169f34e603397187639af?placeholderIfAbsent=true&apiKey=b26b76cab5d0429798dcacbab026faef"
            alt=""
            class="nav-icon"
          />
          <span class="nav-text">Techniciens</span>
        </a>
      </li>
      <li *ngIf="userRole()==='ADMIN'" class="nav-item">
        <a routerLink="listOfUsers" class="nav-link">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/665e15fa236e070179648c7481e52347892e811a7361b1c648fc4bdef502b273?placeholderIfAbsent=true&apiKey=b26b76cab5d0429798dcacbab026faef"
            alt=""
            class="nav-icon"
          />
          <span class="nav-text">Utilisateurs</span>
        </a>
      </li>
      <li *ngIf="userRole()==='ADMIN' ||userRole()==='TECHNICIAN'" class="nav-item">
        <a href="#" class="nav-link">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/b24c73417989f5b5f982e4e532918f52c3ce2913a3c30a862a114038614515d1?placeholderIfAbsent=true&apiKey=b26b76cab5d0429798dcacbab026faef"
            alt=""
            class="nav-icon"
          />
          <span class="nav-text">Pannes</span>
        </a>
      </li>
    </ul>
  </nav>
  <footer class="sidebar-footer">
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/183bfe20d55d8e498d33d467a23008bb456ae369f264b3d8f0cd1ff7fc408a43?placeholderIfAbsent=true&apiKey=b26b76cab5d0429798dcacbab026faef"
      alt="Help background"
      class="help-bg"
    />
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/c91fe5ba985b27a7b32897c6c93db35c54a93ff9d7dafbc4b1f366029129c46d?placeholderIfAbsent=true&apiKey=b26b76cab5d0429798dcacbab026faef"
      alt="Help icon"
      class="help-icon"
    />
    <h3 class="help-title">Need help?</h3>
    <p class="help-text">Please check our docs</p>
  </footer>
</aside>



