<h2 mat-dialog-title>Update User</h2>
<mat-dialog-content>
  <form [formGroup]="updateForm">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Username" formControlName="username">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Phone" formControlName="phone">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="updateForm.invalid">Update</button>
</mat-dialog-actions>
