<div class="header" style="display: flex; justify-content: space-between; padding: 2rem;">
  <h4 >Tous les Équipements</h4>
  <button mat-stroked-button (click)="openAddDialog()" > Ajouter equipement</button>
</div>
<div class="equipments-container">
  <div class="equipments-list">
    @for (equipment of equipements; track equipment.materialId) {
      <mat-card (click)="openPanneHistoryDialog(equipment.materialId)">
        <article class="equipment-item">
          <div class="equipment-image">
            <img [src]="equipment.picture || '/assets/placeholder.jpg'" alt="Equipment">
          </div>
          <div class="equipment-details">
            <h3>{{equipment.materialName}}</h3>
            <mat-chip [ngClass]="getStatusClass(equipment.status)">
              {{equipment.status}}
            </mat-chip>
          </div>
        </article>
        <mat-card-actions>

          <button mat-stroked-button color="primary" *ngIf="equipment.status === 'BON'||equipment.status === 'PANNE'||equipment.status === 'HORS_SERVICE'" (click)="openModifyDialog(equipment)">
            Modifier
          </button>
          <button mat-stroked-button color="primary" *ngIf="equipment.status === 'HORS_SERVICE'" (click)="openAssignerDialog(equipment)">
            Assigner
          </button>
        </mat-card-actions>
      </mat-card>
    }
  </div>
</div>
